<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeKeyValuePairs>true</includeKeyValuePairs>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampPattern>
        </encoder>
    </appender>

    <logger name="io.partdb" level="INFO"/>
    <logger name="io.grpc" level="WARN"/>
    <logger name="io.netty" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="JSON"/>
    </root>
</configuration>
